.bodypub{
    position: relative;
    max-width: 90%;
    height: auto;
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    overflow: hidden;
    overflow-y: auto; 
}
.body-gl{
    height: 85vh;
    background-color: rgb(243, 243, 243);
    margin: auto;
    overflow: hidden;
    overflow-y: auto; 
}
.ds{
    background-color: rgb(238, 233, 233);
    height: 200px;
    width: 250px;
}
.mod .ant-modal-content{
width: 700px;
}
.pmenu{
        width: 30px;
        height: 30px;
        background-color: white;
        align-items: center;
        justify-content: center;
        display: flex;
        position: absolute;
        z-index: 1;
        border-radius: 50%;
        position:absolute;
}
.pmenu:hover{
    background-color: red;
}
.add{
    border-radius: 10%;
    background-color: aliceblue;
    border: dotted  rgb(0, 140, 255);
    justify-content: center;
    align-items: center;
    display: flex;
}
.add:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}